* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
/*	outline: 2px solid red;*/
}

:root {
	--font-regular: 'Manrope', sans-serif;
	--font-heading: 'Poppins', sans-serif;
	--text-color: #000;
	--purple: #746afe;
	--yellow: #fcf66d;
	--green: #6bfd74;
	--turquoise: #6bfdfd;
	--pinkish: #fc7474;
	--peach: #fed971;
	--purply: #db6bfe;
}

html {
	scroll-behavior: smooth;
	font-size: 1.5rem;
}

body {
	position: relative;
	font-family: var(--font-regular);
	color: var(--text-color);
	font-size: .9rem;
/*	overflow: hidden;*/
}


/*  ******************* UNIVERSAL/GENERAL STYLES  *******************  */


.purple {background: var(--purple);}
.yellow {background: var(--yellow);}
.green {background: var(--green);}
.turquoise {background: var(--turquoise);}
.pinkish {background: var(--pinkish);}
.peach {background: var(--peach);}
.purply {background: var(--purply);}


p {
	padding: 2% 0;
	line-height: 150%;
}

h1 {
	font-family: var(--font-heading);
	font-weight: 700;
	line-height: 95%;
	font-size: 2.7rem;
	letter-spacing: -.1rem;
}

input,
button {
	font-size: .9rem;
}

.white-text {
	color: #fff;
	font-weight: 900;
}

.sm-text {
	font-size: .7rem;
	padding: 15px 0 0 0;
}

section {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.content {
	width: 80vw;
	max-width: 550px;
	height: 92vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}


/* Question Number Headings */

.number-header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--green);
	height: 175px;
	width: 100vw;
}

.lg-number {
	font-family: var(--font-heading);
	font-weight: 500;
	font-size: 8rem;
}

.o {
	position: relative;
	font-size: 2.7rem;
	top: -10px;
}

.o::before {
	position: absolute;
	content: " ";
	background: black;
	height: 8px;
	width: 90%;
	top: 70px;
	left: 3px;
}

.question-content {
	display: flex;
	height: 80vh;
	justify-content: center;
	align-items: center;
}


/* Progress Bar */

.progress-bar {
	position: absolute;
	width: 95px;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	bottom: 5%;
}

.circle {
	background: #fff;
	width: 12px;
	height: 12px;
	border-radius: 50%;
}

.circle-filled {
	background: var(--purple);
}


/* Answers */

.answer-choices {
	position: relative;
	display: flex;
	font-family: var(--font-heading);
	font-weight: 700;
	font-size: 1.6rem;
	letter-spacing: -.05rem;
	justify-content: space-around;
	width: 235px;
	margin: 30px auto;
}

.yes {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 3px;
	background-image: url(../img/yes.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 135px;
	height: 80px;
	cursor: pointer;
	-webkit-filter: drop-shadow(5px 7px 0 rgb(0 0 0 /15%));
	filter: drop-shadow(5px 7px 0 rgb(0 0 0 /15%));
}

.no {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 3px;
	background-image: url(../img/no.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 135px;
	height: 80px;
	cursor: pointer;
	-webkit-filter: drop-shadow(5px 7px 0 rgb(0 0 0 /15%));
	filter: drop-shadow(5px 7px 0 rgb(0 0 0 /15%));
}

.incorrect:focus::before,
.incorrect:hover::before,
.incorrect:active::before {
	position: absolute;
	content: "☠️";
	width: 100%;
	height: 100%;
	font-size: 2.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	cursor: not-allowed;
	transform: scale(.2);
	animation: grow 100ms linear forwards;
}

/* Multi-Choice Question */

.multi-choice {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.option {
	display: flex;
	align-items: center;
}

.option > p {
	width: 100%;
	height: 110px;
	font-size: 1.1rem;
	letter-spacing: -.03rem;
	line-height: 115%;
	padding-left: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes grow {
	to {
		transform: scale(1);
	}
}

.correct-clicked::after {
	position: absolute;
	content: url(../img/checkmark.svg);
	height: 100px;
	width: 100px;
	opacity: .90;
	top: -12px;
	animation: confirm 100ms ease-out forwards;
}

@keyframes confirm {
	0% {
		transform: scale(0);
	}

	25% {
		transform: scale(0);
	}

	50% {
		transform: scale(0.55)
	}

	75% {
		transform: scale(0.7);
	}

	100% {
		transform: scale(1);
	}
}



/*  ******************* INTRO SECTION  *******************  */


.intro-section {
/*	position: fixed;*/
	background-color: var(--purple);
	z-index: 10;
}

.logo {
	position: relative;
	background-image: url(../img/logo-bubble.svg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 310px;
	width: 310px;
	height: 190px;
	display: grid;
	place-items: center;
	margin: 0 0 25px 0;
	padding-bottom: 5px;
}

.logo-emoji {
	position: absolute;
	font-size: inherit;
	transform: scale(.6);
	left: 167px;
	top: 98px;
}

input {
	border: 7px solid black;
	height: 65px;
	width: 100%;
	border-radius: 18px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 0 0 10px;
	font-family: var(--font-heading);
	margin: 15px 0;
	background: transparent;
}

input:focus {
	outline: none;
	box-shadow: 0 0 10px rgb(14 255 29 / 80%), 0 0 90px rgb(14 255 29 / 50%);
}

.button {
	background-color: #000000;
	color: #ffffff;
	border-radius: 18px;
	width: 150px;
	height: 63px;
	font-family: var(--font-heading);
	font-weight: 700;
	-webkit-filter: drop-shadow(7px 7px 0 rgb(0 0 0 /20%));
	filter: drop-shadow(7px 7px 0 rgb(0 0 0 /20%));
	cursor: pointer;
	transition: .05s ease;
}

.button:hover {
	transform: scale(.99);
}

.button:focus {
	outline: none;
	transform: scale(.98);
	filter: drop-shadow(0 0 10px rgb(14 255 29 / 80%));
}

::placeholder {
	color: #ffffff;
	opacity: .6;
	font-size: .7rem;
	background: transparent;
}

.lift-intro {
	animation: lift-intro 1.2s ease-in-out forwards .3s;
}

@keyframes lift-intro {
	to {
		transform: translateY(-110vh);
	}
}


/*  ******************* INSTRUCTIONS SECTION  *******************  */


#hi {
	display: inline-block;
	transform: rotate(10deg);
}

.wave {
	display: inline-block;
	animation: wave 100ms linear 20 alternate;
}

@keyframes wave {
	to {
		transform: rotate(20deg);
		transform-origin: center;
	}
}

.player-begin-button {
	margin-top: 35px;
}


/*  ******************* TABLET / MOBILE  *******************  */


@media screen and (max-width: 950px) {
	
}
