* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--font-regular: 'Karla', sans-serif;
	--font-heading: 'Abril Fatface', serif;
	--text-color: #323333;
}

body {
	background-image: url(../img/paper.jpg);
	font-family: var(--font-regular);
	color: var(--text-color);
}

.no-overflow {
	overflow: hidden;
}

.user-info-section {
	position: fixed;
	background-image: url(../img/paper.jpg);
	width: 100vw;
	height: 100vh;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 2px dotted black;
	box-shadow: 0 10px 35px rgb(0, 0, 0, .8);
}

header {
	position: relative;
	text-align: center;
	padding-bottom: 70px;
	margin-top: -20px;
}

.logo {
	position: absolute;
	top: -80px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 400px;
	min-width: 350px;
	width: 35vw;
	bottom: 40px;
	height: 100%;
}

.header-sm {
	width: 50vw;
	min-width: 350px;
	font-size: 1.3rem;
	margin: 350px 0 1px 0;
	line-height: 160%;
	max-width: 650px;
}

.note {
	font-size: 1rem;
	opacity: .5;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: -20px;
}

.raise-up {
	animation: raise-up 1.1s ease-in forwards;
}

@keyframes raise-up {
	99% {
		transform: translateY(-100vh);
	}
	100% {
		transform: translateY(-100vh);
		display: none;
		box-shadow: none;
	}
}

.hide {
	display: none;
}

#userName, #userPhone {
	background-image: url(../img/user-input.svg);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	width: 300px;
	height: 80px;
	border: none;
	padding: 0 0 7px 25px;
	outline: none;
	font-size: 1.4rem;
	margin: 5px 0;
	letter-spacing: -.04rem;
}

#submitButton {
	background-color: var(--text-color);
	color: #fff;
	padding: 15px 50px;
	text-transform: uppercase;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: all .2s ease;
}

::placeholder {
	color: #97b2c3;
	letter-spacing: -.06rem;
	font-size: 1.2rem;
}

#submitButton:hover {
	background-color: #474747;
}

p {
	font-size: 1.6rem;
	line-height: 140%;
	letter-spacing: -.03rem;
	width: 400px;
	text-align: center;
}

/* ---- FRAME ---- */

.frame {
	position: relative;
	z-index: 11;
}

.corner1 {
	position: fixed;
	left: 1%;
	top: 2%;
	width: 15vw;
	max-width: 200px;
	min-width: 100px;
}

.corner2 {
	position: fixed;
	right: 1%;
	top: 2%;
	width: 15vw;
	max-width: 200px;
	min-width: 100px;
}

.corner3 {
	position: fixed;
	left: 1%;
	bottom: 2%;
	transform: rotate(180deg);
	width: 15vw;
	max-width: 200px;
	min-width: 100px;
}

.corner4 {
	position: fixed;
	right: 1%;
	bottom: 2%;
	transform: rotate(180deg);
	width: 15vw;
	max-width: 200px;
	min-width: 100px;
}


/* ---- QUESTION ---- */

.question {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	align-items: center;
	opacity: 0;
	top: 0;
}

h2 {
	font-family: var(--font-heading);
	font-size: 5rem;
	font-weight: normal;
}

.no {
	text-align: center;
	margin-top: -50px;
}

.o {
	position: relative;
	font-size: 3rem;
	top: -20px;
	text-decoration: underline;
}

.big-number {
	position: relative;
	font-size: 9rem;
	top: 25px;
}

.lg-divider {
	padding-top: 20px;
	margin-bottom: 60px;
}

.buttons-container {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 10px;
}

.multiple-choice-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.buttons-multiple-choice {
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
}

.mult-choice-questions > p {
	font-size: 1.4rem;
	line-height: 110%;
	text-align: left;
	margin: 30px 5px;
	width: 275px;
	padding-bottom: 2px;
}

.mult-choice-questions {
	margin-top: 7px;
}

.img-button {
	background-image: url(../img/button.svg);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	width: 150px;
	height: 80px;
	border: none;
	font-family: var(--font-heading);
	font-size: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	padding-bottom: 20px;
	margin: 20px;
	outline: none;
	cursor: pointer;
}

.img-button-square {
	background-image: url(../img/button-square.svg);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	width: 50px;
	height: 50px;
	border: none;
	margin: 10px;
	outline: none;
	cursor: pointer;
}

.incorrect {
	cursor: not-allowed;
}

.incorrect:hover span {
	opacity: 0;
}

.incorrect:focus::before,
.incorrect:hover::before,
.incorrect:active::before {
	position: absolute;
	content: "☠️";
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
	text-shadow: 3px 3px 20px rgb(0, 0, 0, .2);
}

.incorrect-multi:focus::before,
.incorrect-multi:hover::before {
	position: absolute;
	content: "☠️";
	font-size: 2rem;
	left: 20px;
	margin-top: -16px;
	cursor: not-allowed;
	text-shadow: 3px 3px 20px rgb(0, 0, 0, .2);
}

.correct:focus {
	font-size: 2.7rem;
}

.correct-clicked::after {
	content: url(../img/check.svg);
	position: absolute;
	font-size: 7rem;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	top: -10px;
	left: 100px;
	opacity: .95;
	animation: confirm 100ms ease-out;
}

.correct-clicked-multi::after {
	content: url(../img/check-multi.svg);
	position: absolute;
	font-size: 4rem;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 65px;
	left: 7px;
	opacity: .95;
	animation: confirm 150ms ease-out;
}

@keyframes confirm {
	0% {
		transform: scale(0);
	}

	50% {
		transform: scale(0.55)
	}

	75% {
		transform: scale(0.7);
	}

	100% {
		transform: scale(1);
	}
}

.slide-up.fancy {
	animation: slide-up .30s ease-out forwards;
}

@keyframes slide-up {
	0% {
		transform: translateY(20%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.delay-100.fancy {
	animation-delay: 100ms;
}

.delay-200.fancy {
	animation-delay: 200ms;
}

.delay-300.fancy {
	animation-delay: 300ms;
}

.delay-400.fancy {
	animation-delay: 400ms;
}

.delay-500.fancy {
	animation-delay: 500ms;
}


@media screen and (max-width: 450px) {

	.question {
		margin-top: -40px;
	}

	p {
		font-size: 1.4rem;
		line-height: 140%;
		letter-spacing: -.05rem;
		width: 330px;
		text-align: left;
		margin: 0 auto;
	}

	br {
		display: none;
	}

	h2 {
		font-family: var(--font-heading);
		font-size: 4rem;
		font-weight: normal;
	}

	.no {
		text-align: center;
		margin-top: -45px;
	}

	.o {
		position: relative;
		font-size: 2rem;
		top: -23px;
		text-decoration: underline;
	}

	.big-number {
		position: relative;
		font-size: 7rem;
		top: 25px;
	}

	.lg-divider {
		padding-top: 40px;
		margin-bottom: 30px;
	}

	.img-button {
		margin: 30px 7px;
	}

	.mult-choice-questions > p {
		font-size: 1.3rem;
		line-height: 110%;
		text-align: left;
		margin: 25px 0px;
		width: 250px;
	}
}