* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--font-regular: 'Karla', sans-serif;
	--font-heading: 'Abril Fatface', serif;
}

body {
	background-image: url(../img/paper.jpg);
	font-family: var(--font-regular);
}

p {
	font-size: 1.6rem;
	line-height: 140%;
	letter-spacing: -.02rem;
	width: 400px;
}

.instructions {
	text-align: center;
	font-weight: var(--font-400);
	font-size: 1.4rem;
	line-height: 170%;
	width: 80vw;
	max-width: 600px;
	margin: 110px auto 0 auto;
	padding: 25px 50px;
	border: 2px solid #323333;
	box-shadow: 3px 1px 8px rgb(0, 0, 0, .2);

}

/* ---- FRAME ---- */

.corner1 {
	position: fixed;
	left: 1%;
	top: 2%;
	width: 15vw;
	min-width: 130px;
}

.corner2 {
	position: fixed;
	right: 1%;
	top: 2%;
	width: 15vw;
	min-width: 130px;
}

.corner3 {
	position: fixed;
	left: 1%;
	bottom: 2%;
	transform: rotate(180deg);
	width: 15vw;
	min-width: 130px;
}

.corner4 {
	position: fixed;
	right: 1%;
	bottom: 2%;
	transform: rotate(180deg);
	width: 15vw;
	min-width: 130px;
}

.line-top {
	position: fixed;
	top: 2.1%;
	width: 73vw;
	height: 3px;
	background-color: #323333;
	left: 50%;
	transform: translateX(-50%);
}

.line-right {
	position: fixed;
	right: 1.5%;
	width: 3px;
	height: 72vh;
	background-color: #323333;
	top: 50%;
	transform: translateY(-50%);
}

.line-bottom {
	position: fixed;
	bottom: 2.1%;
	width: 71vw;
	height: 3px;
	background-color: #323333;
	left: 50%;
	transform: translateX(-50%);
}

.line-left {
	position: fixed;
	left: 1.5%;
	width: 3px;
	height: 72vh;
	background-color: #323333;
	top: 50%;
	transform: translateY(-50%);
}

/* ---- QUESTION ---- */

.question {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	align-items: center;
}

h2 {
	font-family: var(--font-heading);	
	font-size: 5rem;
	font-weight: normal;
}

.no {
	text-align: center;
	margin-top: -50px;
}

.o {
	position: relative;
	font-size: 3rem;
	top: -20px;
	text-decoration: underline;
}

.big-number {
	position: relative;
	font-size: 9rem;
	top: 25px;
}

.lg-divider {
	padding-top: 20px;
	margin-bottom: 80px;
}

.question-container {
	text-align: center;
}

.buttons-container {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 10px;
}

.img-button {
	background-image: url(../img/button.svg);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	width: 150px;
	height: 80px;
	border: none;
	font-family: var(--font-heading);
	font-size: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	padding-bottom: 20px;
	margin: 20px;
	outline: none;
	cursor: pointer;
}

.incorrect {
	cursor: not-allowed;
}

.incorrect:hover span {
	opacity: 0;
}

.incorrect:hover::before {
	position: absolute;
	content: "☠️";
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
	text-shadow: 3px 3px 20px rgb(0, 0, 0, .2);
}

.correct-clicked::after {
	content: '\f00c';
	font-family: FontAwesome;
	color: #2ECC40;
	position: absolute;
	font-size: 7rem;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	top: -10px;
	left: 100px;
	opacity: .95;
	animation: confirm 100ms ease-out;
}

@keyframes confirm {
			0% {
				transform: scale(0);
			}

			50% {
				transform: scale(0.55)
			}

			75% {
				transform: scale(0.7);
			}

			100% {
				transform: scale(1);
			}
		}

@media screen and (max-width: 450px) {
	
	.line-top {
	position: fixed;
	top: 2.1%;
	width: 73vw;
	height: 2px;
	background-color: #323333;
	left: 50%;
	transform: translateX(-50%);
}

.line-right {
	position: fixed;
	right: 1.8%;
	width: 2px;
	height: 72vh;
	min-height: 630px;
	background-color: #323333;
	top: 50%;
	transform: translateY(-50%);
}

.line-bottom {
	position: fixed;
	bottom: 2.1%;
	width: 71vw;
	height: 2px;
	background-color: #323333;
	left: 50%;
	transform: translateX(-50%);
}

.line-left {
	position: fixed;
	left: 1.8%;
	width: 2px;
	height: 72vh;
	min-height: 630px;
	background-color: #323333;
	top: 50%;
	transform: translateY(-50%);
}
	
	.question {
		margin-top: -30px;
	}

	
	p {
		font-size: 1.4rem;
		line-height: 140%;
		letter-spacing: -.05rem;
		width: 330px;
		text-align: left;
		margin: 0 auto;
	}
	
	br {
		display: none;
	}

	h2 {
		font-family: var(--font-heading);
		font-size: 4rem;
		font-weight: normal;
	}

	.no {
		text-align: center;
		margin-top: -45px;
	}

	.o {
		position: relative;
		font-size: 2rem;
		top: -23px;
		text-decoration: underline;
	}

	.big-number {
		position: relative;
		font-size: 7rem;
		top: 25px;
	}
	
	.lg-divider {
	padding-top: 40px;
	margin-bottom: 40px;
}
	
	.img-button {
		margin: 30px 7px;
	}
}